<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
  body {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .hem_img {
  max-width: 100%;
  height: auto;
  }

  th {
    padding: 3px;
  }

  td {
    padding: 3px;
  }

  section {
    margin-left: 50px;
    margin-right: 50px;
  }

</style>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>
						
  <div class="row">
    <div class="col-md-12">
        <h2 class="heading"><strong>Latest Mars News</strong> </h2>
        <h3 class="heading">{{ mars.news_titles }}</h3>
        <p>{{ mars.news_p }}</p>
    </div>
  </div>
              
  <div class="row">
      <div class="col-md-8">
          <h2 class="heading"><strong>Featured Mars Image</strong></h2>
          <img src="{{ mars.featured_image_url }}" class="img-responsive"
              alt="Mars Images">
              <br>
      </div> 
      <div class="col-md-4">
          <h4>Mars Facts</h4>
          {{mars.mars_fact | safe}}
      </div>
  </div>

  <section id="lower">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Mars Hemispheres</h2><hr>
        </div>

    {% for hemi in mars.hemisphere_image_urls %}
    <div class="col-md-6">
        <figure class="figure">
            <img class="figure-img img-fluid my-1 hem_img" src="{{ hemi.img_url }}">
            <figcaption class="figure-caption"><h4>{{ hemi.title }}</h4></figcaption>
        </figure>
    </div>
    {% endfor %}
</section>

</body>

</html>